<form method="post" action="{{ path('app_detail_location_delete', {'id': detail_produit_location.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ detail_produit_location.id) }}">
    <button class="btn">Delete</button>
</form>
