{% extends 'base.html.twig' %}

{% nav item in items %}
<ul>
<li><a href="{{}}">home</a></li>
<li><a href="{{}}">about us</a></li>
<li><a href="{{}}">login</a></li>
<li><a href="{{}}">logout</a></li>
</ul>  
{% endnav %}